{% block content %} {%
include "header.html" %}
<title>Home</title>
<header
  class="masthead"
  style="background-image: url('../static/assets/img/register-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Spending</h1>
          <span class="subheading">This is what you are spending!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container" >
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="left-box">
        <h5>Spending so far</h5>
        <i class="mdi mdi-arrow-up fs-2 text-success"></i>
        <p class="mdi mdi-arrow-up fs-2 text-success">${{ result}}<img src="{{symbol}}"></p>
      </div>
    </div>
    {% if is_logged %}
    <div class="col-md-6">
      <div class="right-box">
        <h5>Your balance</h5>
        {% if balance < 0%}
        <p style="color:red">Oops, you need to pay in total <br><br>
         ${{balance|round(2)|abs}}</p>

        {% elif balance > 0 %}
        <p style="color:green">Great, you will receive. <br><br>
         ${{balance|abs|round(2)}}</p>

        {%else %}
        <p>${{balance|round(2)|abs}}</p>

      {% endif %}


      </div>
    </div>
    {% endif %}
  </div>
</div>

      </div>
    </div>
  </div>
</main>

<div class="container mt-3">
  <h2>Calculation in Detail
  <a class="btn btn-primary float-end"
          href="{{ url_for('calculate_all')}}"
          >Overall Calculation</a> </h2>
  <table class="table table-striped">
    <thead>
      <tr>

         <th>To Receive/Pay</th>
        <th>How Much</th>

        <th>To/From Whom</th>


      </tr>
    </thead>
    <tbody>
    {% for i in final_payment_dict %}
      <tr>

        {% if final_payment_dict[i] > 0 %}
        <td style="color:green">To Recieve</td>
        {% elif final_payment_dict[i] == 0.00 %}
        <td>Balance Null</td>
        {% else %}
        <td style="color:Red">To Pay</td>
        {% endif%}
        <td>{{final_payment_dict[i]|abs|round(2)}}</td>
        <td>{{i}}</td>




      </tr>
  {% endfor %}
    </tbody>
  </table>
</div>



{% include "footer.html" %} {% endblock %}